:root{
    --main-color:#5FA4B3;
    --main-contrast:#9D7D60;
    --highlight:#44D4F2;
    --highlight-contrast:#FF7700;
    --dark-color:#435255;
}

body{
    font-family: "Noto Sans", sans-serif;
    padding-bottom: 50px;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-contrast);
    text-decoration: none;
}

code{
    font-family: 'Courier', monospace;
}

#navigation {
    padding: 0 1%;
}

#text-column {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
    color: #222;
}

/* previous/next in series navigation */
.prev, .next {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.prev { float: left; }
.next { float: right; }
.prev a:before { content: "\2190  "; }
.next a:after { content: "  \2192"; }

/* fancy footnotes */
/* functionality */
input[type=checkbox] + div.fn-content {display:none;}
input[type=checkbox]:checked + div.fn-content {display:block;}
input[type=checkbox][id|=fn] {display:none;}
/* styling */
label[for|=fn]{
    cursor: pointer;
}
.fn-content{
    filter: brightness(90%);
    background-color: #EFF;
    padding: 10px;
    border-radius: 6px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    overflow-x: scroll;
}

/* fancy tags */
label[for|=tag], label[for=deselect] {
    border: 1px solid;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
label[for=deselect] {
    padding-left: 8px;
    padding-right: 8px;
}
input[type=radio][id|=tag]:hover + label {background-color: #DDD}
input[type=radio][id=deselect]:hover + label {background-color: #DDD}
input[type=radio][id|=tag]:checked + label {background-color: #FDB}
div[class|=tag] {padding-bottom: 20px;}
